<!DOCTYPE html>
<html>

<head>
   <title>Demo PSAR FastAPI</title>
   <meta charset="UTF-8">
   <style>
      body {
         font-family: Arial;
         max-width: 700px;
         margin: 50px auto;
         background: #111;
         color: #fff;
         text-align: center;
      }

      a {
         color: #4da3ff;
         text-decoration: none;
         font-size: 20px;
      }

      .box {
         padding: 30px;
         border: 1px solid #333;
         border-radius: 12px;
         background: #1b1b1b;
      }
   </style>
</head>

<body>
   <div class="box">
      <h1>🚀 Demo PSAR FastAPI</h1>
      <p>Первый production Python backend успешно работает!</p>
      <p>VPS + Docker + OpenResty + FastAPI</p>
      <p><a href="/docs">Открыть Swagger Docs</a></p>
   </div>

   <form action="/hello" method="post">
      <input type="text" name="name" placeholder="Введите имя" required>
      <br><br>
      <button type="submit">Отправить</button>
   </form>

   {% if message %}
   <p>{{ message }}</p>
   {% endif %}

</body>

</html>