{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="card">
   <h2>Регистрация</h2>

   <input type="text" id="username" placeholder="Username">
   <br>
   <input type="password" id="password" placeholder="Password">
   <br>
   <button onclick="register()">Создать аккаунт</button>

   <p id="result"></p>
</div>

<script>
   async function register() {
      const response = await fetch("/api/register", {
         method: "POST",
         headers: { "Content-Type": "application/json" },
         body: JSON.stringify({
            username: document.getElementById("username").value,
            password: document.getElementById("password").value
         })
      });

      const data = await response.json();
      document.getElementById("result").innerText = JSON.stringify(data);
   }
</script>
{% endblock %}